#notice {
  margin-bottom: $notice-margin-bottom;
  color: $notice-color;
  background-color: $notice-bg;
  padding: $notice-padding;
  border: $notice-border;
  border-radius: $notice-border-radius;
}
