<footer>
  <br>
  <hr>
  <br>
  <p>I created this application during the Ruby on Rails training at <%= company_name %> <%= human_change_time(__FILE__) %> hosted by <%= link_to 'Kabisa', 'http://www.kabisa.nl' %>.</p>
</footer>
