<footer>
  <br>
  <hr>
  <br>
  <p><%= t('.credits_html', company_name: tag.b(company_name), human_change_time: human_change_time(__FILE__), hosted_by: link_to('Kabisa', 'http://www.kabisa.nl')) %></p>
</footer>
